
:root {
    --basicBG: #171717;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0 0 0 0;

    display: flex;
    flex-direction: column;
        
    background-color: black;
    background-image: url('/Resources/bg.png'), url('../Resources/bg.png');
    background-size: 100% 100%;
    background-position: center;
    background-size: cover;

    /*Animation:*/
    animation: shrink 15s infinite alternate;

    /*Default font properties*/
    color: white;
    font-family: Arial;
    letter-spacing: 1px;
}

/*Background animation*/
@keyframes shrink {
    0% {
        background-size: 100% 100%;
    }

    100% {
        background-size: 140% 140%;
    }
}



a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

header {
    background-color: var(--basicBG);
    width: 100%;
    height:8%;

    font-size: 20px;
    display: flex;

    align-items: center;

}

content {
    width: 100%;
    height: 92%;

    display:flex;
    justify-content: center;
    align-items: center;
}

.caja {
    width: 45%;
    height: 60%;

    display: flex; 

    /*El formulario aparece de la izquierda al cargar la página*/
     animation: 1s ease-out 0s 1 onLoadForm;
}

.caja_izquierda {
    height: 100%;
    width: 40%;
    background-color: white;
    
    border-radius: 30px 0 0 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.caja_derecha {
    height: 100%;
    width: 60%;

    /*Glass fx*/
    background-color: #ffffff10;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    border-radius: 0 30px 30px 0;

   
}

.logo {
    padding-left: 25px;
}

.caja_izquierda img {
    width: 70%;
    height: 70%;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-weight: lighter;
}


@keyframes onLoadForm {
    /*Animación que hace que el formulario de login aparezca de la izquierda*/
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes onLoadLogo {
    /*Animación que hace que el logo de la web aparezca de la derecha*/
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}


header div {
    animation: 1s ease-out 0s 1 onLoadLogo;
}


/*Movil*/
@media only screen and (max-width: 550px) {
    header {
        justify-content: center;
    }

    .logo {
        padding-left: 0px;
    }
    .caja {
        width: 100%;
        margin: 0 10px 0 10px;

        flex-direction: column;
    }

    .caja_izquierda {
        height: 15%;
        width: 100%;
        background-color: white;
        border-radius: 30px 30px 0 0;
    }

    .caja_derecha {
        height: 85%;
        width: 100%;
        /*Glass fx*/
        background-color: #ffffff10;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        border-radius: 0 0 30px 30px;
    }
}
